<div class="row" >
  <nav class="blue darken-3" >
      <div class="container">
        <div class="nav-wrapper" *ngIf="authService.isLoggedIn()">
          <a (click)="toggleMobileMenu()" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routerLink="/calendario" class="waves-effect">Calendário</a></li>
            <li><a routerLink="/disciplinas" class="waves-effect">Disciplinas</a></li>
            <li><a href="https://github.com/casare86/controle-disciplinas/blob/main/README.md" target="_blank" class="waves-effect">README</a></li>
            <li><a (click)="authService.logout()" class="waves-effect">Sair</a></li>
          </ul>
        </div>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-menu" #mobile>
    <li><a (click)="toggleMobileMenu()" routerLink="/calendario" class="waves-effect">Calendário</a></li>
    <li><a (click)="toggleMobileMenu()" routerLink="/disciplinas" class="waves-effect">Disciplinas</a></li>
    <li><a (click)="toggleMobileMenu()" href="https://github.com/casare86/controle-disciplinas/blob/main/README.md" target="_blank" class="waves-effect">README</a></li>
    <li><a (click)="authService.logout()" routerLink="/login" class="waves-effect">Sair</a></li>
  </ul>
</div>