<div *ngIf="!mensagemErro">
  <ul class="collapsible" data-collapsible="accordion">
    <li *ngFor="let disciplina of disciplinas">
      <div class="collapsible-header">{{ disciplina.nome | uppercase}}</div>
      <div class="collapsible-body">
        <p>Código: {{ disciplina.id }}</p>
        <p>Início: {{ disciplina.dataInicio | date: "dd/MM/yyyy" }}</p>
        <p>Término: {{ disciplina.dataFim | date: "dd/MM/yyyy" }}</p>
        <button (click)="editarDisciplina(disciplina)" class="btn">Editar</button>
        <button (click)="excluirDisciplina(disciplina)" class="btn red">Excluir</button>
      </div>
    </li>
  </ul>
</div>
<div *ngIf="mensagemErro">
  <p>{{ mensagemErro }}</p>
</div>