<div *ngIf="!zeroDisciplinas">
  <ul class="collapsible" data-collapsible="accordion" >
    <li *ngFor="let disciplina of disciplinas">
      <div class="collapsible-header">{{ disciplina.nome }}</div>
      <div class="collapsible-body">
        <p>Código: {{ disciplina.id }}</p>
        <p>Início: {{ disciplina.dataInicio }}</p>
        <p>Término: {{ disciplina.dataFim }}</p>
      </div>
    </li>
  </ul>
 
</div>
<div *ngIf="!zeroDisciplinas">
  <p class="text-red">{{mensagemErro}}</p>
</div>