nav {
    background-color: #1976D2; /* Azul escuro - substitua pela cor desejada */
}

nav a {
color: #fff; /* Cor do texto - substitua pela cor desejada */
}

nav a:hover {
text-decoration: underline; /* Efeito de sublinhado ao passar o mouse */
}